<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title},~{::link})">
    <title>Each Page</title>
    <link rel="stylesheet" href="">
</head>
<body th:with="role='Admin'">
    <p th:text="${'Pdp Academy'}"></p>
    <p th:text="'Pdp '+'Academy '+${full_name}"></p>
    <p th:text="|Pdp Academy ${full_name}|"></p>
    <div>
        <h2>Role: <span th:text="${role}"></span></h2>
    </div>
    <div>
        <h4 th:text="${role}"></h4>
    </div>
</body>
</html>